@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins&display=swap');

:root{
    --nav-height: 20px;
    --try1:#594740;
    --hover: #29201b;
} 

*{
    font-family: 'Poppins', 'Nunito Sans', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--red);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--try1);
    z-index: 1000;
    padding: 1rem 4%;
    border-bottom: .1rem solid #fff3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}

header img {
    height: 5rem;
    width: 5rem;
}

header .download-button {
    width: 15rem;
    height: 4rem;
    border: none;
    color: #fff;
    background-color: var(--try1);
    border-radius: 5px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid #bf826e;
    position: relative;
    z-index: 1;
}

header .download-button:hover {
    color: #fff;
    cursor: pointer;

}

header .download-button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #bf826e;
}

header .download-button:hover:before {
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.home {
    background: radial-gradient( #e2cec2, #755f58);
    min-height: 100vh;
    text-align: center;
    padding: 3rem 9%;
}

.home .content{
    padding-top: 5rem;
    max-width: 70rem;
    margin: 0 auto;
}

.home .content h3{
    font-size: 6.5rem;
    color: #fff;
}

.home .content p{
    font-size:  1.7rem;
    color: #fff;
    padding: 1rem 0;
}

.home .content a img {
    height: 80px;
    width: auto;
}

.home .swiper{
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

.home .swiper-slide{
    width: 30rem;
    height: 60rem;
}

.home .swiper-slide img{
    width: 100%;
    height: 100%;

    border-radius: 20px;

    display: block;
}

.home .content .buttons{
    height: 5rem;
}

.express {
    background-color: #fbae82;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.impress {
    background-color: #87b7ff;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confess {
    background-color: #fb9893;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}


.express-container {
    height: 90%;
    width: 90%;

    background-color: #fce7dc;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.impress-container {
    height: 90%;
    width: 90%;

    background-color: #cee0fc;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.confess-container {
    height: 90%;
    width: 90%;

    background-color: #fad3d1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-container {
    height: inherit;
    width: auto;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    font-size: 5rem;
}

.text-container p {
    font-size: 1.5rem;
}

.img-container {
    height: 100%;
    width: auto;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}

.img-container img {
    height: 700px;
    width: 100%;
}

.download {
    height: 100vh;
    width: 100vw;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient( #e2cec2, #755f58);
}

.download .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download .container img {
    height: 20rem;
    width: 50rem;
}

.download .container .download-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.download .container .download-links .playstore-btn img {
    height: 5rem;
    width: 15rem;
    border-radius: 15px;
}

.download .container .download-links .appstore-btn img {
    height: 6.5rem;
    width: 16rem;
}

footer {
    height: 20.2rem;
    font-size: 14px;
    color: #fff;
    background-color: var(--try1);

    align-items: center;
}

footer .upper-footer {
    height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .upper-footer h4 {
    padding-bottom: 1rem;
}

footer .upper-footer .mail {
    text-decoration: underline;
    text-transform: lowercase;
    display: flex;
    flex-direction: row;
}

footer .upper-footer .mail a{
    padding-left: 3rem;
    padding-right: 3rem;

    color: #fff;
    text-decoration: none;
}

footer .line {
    width: 80%;
    margin-left: 10%;

    border-bottom: 2px solid #fff;
    display: block;
}

footer .lower-footer {
    height: 10rem;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .lower-footer .copyright-text,
footer .lower-footer .policies,
footer .lower-footer .copyright-creator {
    height: inherit;
    vertical-align: inherit;
}

footer .lower-footer .copyright-text {
    cursor: pointer;
}

footer .lower-footer .copyright-text p:hover {
    color: var(--hover);
}

footer .lower-footer .policies {
    display: flex;
    flex-direction: row;
}

footer .lower-footer .policies a {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

footer .lower-footer .policies a:hover {
    color: var(--hover);
}

footer .lower-footer .copyright-creator a {
    color: #fff;
}

footer .lower-footer .copyright-creator a:hover {
    color: var(--hover);
}

footer .lower-footer .copyright-text,
footer .lower-footer .policies {
    padding-top: 4rem;
}

footer .lower-footer .copyright-text {
    margin-left: 2rem;
}

footer .lower-footer .copyright-creator {
    margin-right: 2rem;
    padding-top: 3rem;
}

/*********************************************** Media Queries *************************************************/
@media (max-width:840px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

}

@media (max-width:650px){

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        border-top: .1rem solid #fff3;
        padding: 1rem 2rem; 
        clip-path: polygon(0 0, 100% 0, 100% 0,  0 0);
    }

    header .navbar .nav-toggle{
        clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100% );
    }

    header .navbar a{
        display: block;
        margin: 1.5rem o;
        padding: 1rem;
        background: rgb(235, 141, 141);
        text-align: center;
        border-radius: .5rem; 
    }

    header .navbar a:hover{
        color: var(--black);
    }

    .home .content h3{
        font-size: 4rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:400px){

    html{
        font-size: 50%;
    }

}