@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;600;700&display=swap');

:root{
    --nav-height: 20px;
    --try1:#594740;
    --hover: #29201b;
} 

*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--red);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--try1);
    z-index: 1000;
    padding: 2rem 5%;
    border-bottom: .1rem solid #fff3;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

header .brand-name {
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;
}

header .navbar a {
    font-size: 2rem;
    margin-left: 2.5rem;
    color: #fff ;
}

header .brand-name p:hover,
header .navbar a:hover {
    color: var(--hover);
}

.home {
    background: radial-gradient( #b69f91, #755e56);
    min-height: 100vh;
    text-align: center;
    padding: 3rem 9%;
}

.home .content{
    padding-top: 5rem;
    max-width: 70rem;
    margin: 0 auto;
}

.home .content h3{
    font-size: 6.5rem;
    color: #fff;
}

.home .content p{
    font-size:  1.7rem;
    color: #fff;
    padding: 1rem 0;
}

.home .content a img {
    height: 80px;
    width: auto;
}

.home .swiper{
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

.home .swiper-slide{
    width: 30rem;
    height: 60rem;
}

.home .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
}

.home .content .buttons{
    height: 5rem;
}

.express {
    background-color: #fb7b50;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.impress {
    background-color: #5e92ff;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confess {
    background-color: #f45f58;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}


.express-container {
    height: 90%;
    width: 90%;

    background-color: #fbae82;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.impress-container {
    height: 90%;
    width: 90%;

    background-color: #87b7ff;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.confess-container {
    height: 90%;
    width: 90%;

    background-color: #fb9893;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-container {
    height: inherit;
    width: auto;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    font-size: 5rem;
}

.text-container p {
    font-size: 1.5rem;
}

.img-container {
    height: 100%;
    width: auto;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}

.img-container img {
    height: 700px;
    width: 100%;
}

.contact {
    height: 100vh;
    width: 100vw;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient( #b69f91, #755e56);
}

.contact .contactForm h2 {
    font-size: 36px;
    font-weight: 500;
    color: #333;
}

.contactForm {
    height: 400px;
    width: 500px;

    padding: 40px;
    background-color: #fff;
}

.contactForm h2 {
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.contactForm .contact-inputBox {
    position: relative;
    margin-top: 10px;
    width: 100%;
}

.contactForm .contact-inputBox input,
.contactForm .contact-inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .contact-inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .contact-inputBox input:focus ~ span,
.contactForm .contact-inputBox input:valid ~ span,
.contactForm .contact-inputBox textarea:focus ~ span,
.contactForm .contact-inputBox textarea:valid ~ span {
    color: #666;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .contact-inputBox input[type="submit"] {
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

footer {
    height: 100px;
    font-size: 14px;
    color: #fff;
    background-color: var(--try1);

    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .copyright-text,
footer .policies,
footer .copyright-creator {
    height: inherit;
    vertical-align: inherit;
}

footer .copyright-text {
    cursor: pointer;
}

footer .copyright-text p:hover {
    color: var(--hover);
}

footer .policies {
    display: flex;
    flex-direction: row;
}

footer .policies a {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

footer .policies a:hover {
    color: var(--hover);
}

footer .copyright-creator a {
    color: #fff;
}

footer .copyright-creator a:hover {
    color: var(--hover);
}

footer .copyright-text,
footer .policies {
    padding-top: 43px;
    padding-bottom: 43px;
}

footer .copyright-text {
    padding-left: 20px;
}

footer .copyright-creator {
    padding-right: 20px;
    padding-top: 38px;
    padding-bottom: 38px;
}

/*********************************************** Media Queries *************************************************/
@media (max-width:840px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

}

@media (max-width:650px){

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--black);
        border-top: .1rem solid #fff3;
        padding: 1rem 2rem; 
        clip-path: polygon(0 0, 100% 0, 100% 0,  0 0);
    }

    header .navbar .nav-toggle{
        clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100% );
    }

    header .navbar a{
        display: block;
        margin: 1.5rem o;
        padding: 1rem;
        background: rgb(235, 141, 141);
        text-align: center;
        border-radius: .5rem; 
    }

    header .navbar a:hover{
        color: var(--black);
    }

    .home .content h3{
        font-size: 4rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:400px){

    html{
        font-size: 50%;
    }

}